__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.git
.gitignore
.vscode
.idea
*.ipynb
*.ipynb_checkpoints
heart.csv
train.py
test_api.py
README.md
Pipfile
Pipfile.lock
.DS_Store
